*.*~
target/
/.ensime
.ensime_cache/
checkpoint/
src/main/scala/sw/streaming/WebPageLogsGenerator$.class
src/main/scala/sw/streaming/WebPageLogsGenerator$delayedInit$body.class
src/main/scala/sw/streaming/WebPageLogsGenerator.class
/derby.log
metastore_db/
/src/main/resources/enron/enron.json
